{% extends 'base.html.twig' %}

{% block title %}Détails de dossier | {{parent()}}{% endblock %}

{% block body %}
<h1>Les détails des dossiers des patients</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            {% block thead %}
            <th>Num </th>
            <th>Nom </th>
            <th>Prenom </th>
            <th>Adresse </th>
            <th>Date de naissance </th>
            <th>Nb enfants </th>
            <th>Nb rendez-vous</th>
            <th> action   </th>
            {% endblock %}
        </tr>
        <tbody>
            {%for patient in patients %}
                <tr>
                    {% block tbody %}
                    <td>{{patient.id}}</td>
                    <td>{{patient.nom}}</td>
                    <td>{{patient.prenom}}</td>
                    <td>{{patient.adresse}}</td>
                    <td>{{patient.dateDeNaissance.format('d/m/Y')}}</td>  
                    <td>{{patient.nombreEnfant}}</td>
                    <td>{{patient.dossier.nombreRdv}}</td>
                    <td>
                    <a class="btn btn-primary mr-2" href="{{ path('patient', {id: patient.id}) }}" title="Détails">Détails</a>
                    </td>
           
        
                    {% endblock %} 
                {% endfor%}
                    
                </tr>
          
        </tbody>
</table>    

{% endblock %}

